body {
	font-size: 24px;
	margin: 0 0 0 0;
}
p {
	padding-top:0px;
	font-size: 64px;
	padding-top:0mm;
	padding-left: 24mm;
	padding-right: 6mm;
	padding-bottom: 6mm;
}
.output {
	background-image: url("sfw.jpg");
	background-repeat: no-repeat;
	width:105mm;
	height:148mm;
	background-size: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
@media print {
.topbar {
	display: none !important;
}
}
@page {
	size: A6 portrait;
}
.date {
	display:block;
	text-align:center;
	padding-top: 50mm;
	padding-left: 75mm;
}