body {
	font-size: 18px;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
}
p {
	padding-top: 750px;
	padding-left:200px;
	font-size: 64px;
	width:880px;
}
.output {
	background-image: url("sfw.png");
	height: 1566px;
	width: 1095px;
	background-repeat: no-repeat;
}
@media print {
.topbar {
	display: none !important;
}
}